<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Add Product</title>
</head>
<body>

<form action="#" th:action="@{'/'+${entity}+'/save'}" th:object="${product}" method="post">
    <input type="hidden" id="id" name="id" th:field="*{Id}"/>
    <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text" class="form-control" id="name"  placeholder="Category Name" th:field="*{Name}" required>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" name="category" th:value="*{Category.Id}">
            <option th:each="${c:dependentData}" th:value="${c.Id}" th:text="${c.Name}"></option>
        </select>
        <input type="text" class="form-control" id="name"  placeholder="Category Name" th:field="*{Name}" required>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</body>
</html>