<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of Model;index as sayi">
      <th scope="row">{{sayi+1}}</th>
      <td>{{item.name}}</td>
      <td>{{item.title}}</td>
      <td>
        <a class="text-warning" (click)="onEdit(item.name)">
          <i class="material-icons">Edit</i>
        </a>
        &nbsp;
        <a class="text-danger" (click)="onDelete(item.name)">
          <i class="material-icons">Delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>