<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Planet</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">YKB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/department">Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/person">Person</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/familymembers">Family Member</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/title">Title</a>
            </li>
        </ul>
    </div>
</nav>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t:${titles}" scope="row">
        <td th:text="${t.Id}"></td>
        <td th:text="${t.Name}"></td>
    </tr>
    </tbody>
</table>
<script type="text/javascript" src="/webjars/jquery/3.3.1-1/jquery.min.js"/>
<script type="text/javascript" src="/webjars/popper.js/1.14.3/popper.min.js"/>
<script type="text/javascript" src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"/>
</body>
</html>